:root {
    --color-main: #EBE3D5;
    --color-second: #B0A695;
    --color-third: #F3EEEA;
}

.nav {
    background: var(--color-main);
    display: flex;
    padding: 10px;
}

.nav__item {
    background: var(--color-third);
    border-radius: 30px;
    cursor: pointer;
    padding: 5px 20px;
    margin-left: 5px;
    position: relative;
}

.nav__item--no-space {
    margin-left: 0;
}

.nav__link {
    display: inline-block;
    color: var(--color-second);
    height: 100%;
    text-decoration: none;
    width: 100%;
}

.nav__item:hover > .nav__dropdown {
    display: block;
}

.nav__dropdown {
    display: none;
    padding-top: 20px;
    position: absolute;
    left: 0;
}

.dropdown__item {
    background: var(--color-third);
    border-bottom: 3px solid var(--color-second);
    border-radius: 0 60px 0 60px;
    padding: 5px 20px;
    margin-bottom: 5px;
    min-width: 120px;
}

.dropdown__link {
    display: inline-block;
    color: var(--color-second);
    height: 100%;
    text-decoration: none;
    width: 100%;
}



